.container {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #a8a4a460;
    margin-top: 5rem;
    width: 40%;
    margin-bottom: 1rem;
    border-radius: 2.5rem;

}
.success {
    width: 100%;
    background-color: rgb(101, 190, 101);
    padding: 1rem 1rem;
    margin: 0.4rem 0.4rem;
}
.failed {
    width: 100%;
    background-color:rgb(209, 61, 61);
    padding: 1rem 1rem;
    margin: 0.2rem 0.2rem;
}

.nameDiv {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: inline-flex;

}

.label {
    margin-right: 1.9rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.input{
    border-radius: 30px;
    padding: 1rem 0.2rem;
    width: 20rem;
    margin-top: 2rem;
    border-radius: 1rem;
    margin-bottom: 0.3rem;
    border: none;
    transition: all 0.5s;
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
    &.checked {
        background-color: red;
        padding: 30rem
    };
    &.area {
        border: 1px black solid;
        padding: 2rem 2rem;
    }
    
}
.area{
    border-radius: 30px;
    padding: 1rem 0.2rem;
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
    border-radius: 1rem;
    margin-bottom: 0.3rem;
    border: none;
    transition: all 0.5s;
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
    
}

.button {
    border: 1px black solid;
    padding: 2rem 2rem;
    background-color: rgba(192, 175, 175, 0.76);
    width: 100%;
    margin-bottom: 3rem;
    transform: translate(8px, 8px);
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
    border-radius: 1rem;
    margin-top: 2rem;
    transition: all 0.4s;
    font-size: 1.4rem;
    font-weight: 600;

};
.button:hover {
    background-color: rgb(94, 94, 94);
    cursor: pointer;
}
.button:active {
    transform: translate(1rem, 1rem);
    box-shadow: none;
}
